@model CarsAllQueryModel
@{
    ViewBag.Title = "All Vehicles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Make"></label>
                <select asp-for="Make" class="form-control">
                    <option value="">All</option>
                    @foreach (var make in Model.Makes)
                    {
                        <option value="@make">@make</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CarPerPage"></label>
                <select asp-for="CarPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Search"></label>
            <input asp-for="Search" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Price Ascending</option>
                    <option value="1">Price Descending</option>
                    <option value="2">Newest</option>
                    <option value="3">Oldest</option>
                    <option value="4">Last Added</option>
                    <option value="5">First Added</option>
                    <option value="6">Bought Cars</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalCars /
        Model.CarPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Car"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.Search"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
            !Model.AllCars.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary 
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Car"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.Search"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.AllCars.Any())
{
    <h2 class="text-center">No vehicles found by the given criteria!</h2>
}

<div class="row">
    @foreach (var car in Model.AllCars)
    {
        <partial name="_CarPartial" model="@car" />
    }
</div>