@using CarSelling.Services.Data.Interfaces
@using CarSelling.Web.Infrastructure.Extensions
@model CarDetailsViewModel
@{
    ViewData["Title"] = "Car Details";
}

@inject ISellerService SellerService
@inject ICarService CarService
@{
    bool isSellerOwner = await SellerService.HasCarByIdAsync(User.GetId(), Model.Id);
    bool isUserSeller = await SellerService.IsSellerEnabled(User.GetId());
    bool isCarBoughtByUser = await CarService.IsBoughtByUserIdAsync(Model.Id, User.GetId());
}

<style>
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

        .card:hover {
            transform: translateY(-5px);
        }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        font-size: 16px;
    }

        .list-group-item:last-child {
            border-bottom: none;
        }

    .btn-action {
        border-radius: 5px;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 10px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }

        .btn-action:hover {
            background-color: #007bff;
            color: #fff;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .seller-info {
        margin-top: 20px;
    }

    .zoom-img-container {
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 20px;
    }

        .zoom-img-container:hover img {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }

        .zoom-img-container img {
            transition: transform 0.3s ease;
            width: 100%;
            height: auto;
            display: block;
        }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mb-4">@Model.Make @Model.Model</h1>

            <div class="zoom-img-container">
                <img src="@Model.ImageUrl" alt="Car Image" class="img-fluid rounded" />
            </div>

            <div class="mt-4">
                <h2>Description:</h2>
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Details</h2>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Category:</strong> @Model.Category</li>
                        <li class="list-group-item"><strong>Date:</strong> @Model.Date</li>
                        <li class="list-group-item"><strong>Price:</strong> @Model.Price.ToString("C")</li>
                        <li class="list-group-item"><strong>Mileage:</strong> @Model.Mileage.ToString() miles</li>
                    </ul>
                </div>

                <div class="card-footer">
                    @if (this.User.Identity?.IsAuthenticated ?? false)
                    {
                        if ((isUserSeller && isSellerOwner) || User.IsAdmin())
                        {
                            <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning btn-action">Edit</a>
                            <a asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger btn-action">Delete</a>
                        }
                        <p></p>

                        @if (!Model.IsBought || User.IsAdmin())
                        {
                            if (!isUserSeller)
                            {
                                <form class="input-group-sm" asp-controller="Car"
                          asp-action="Buy" asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-primary btn-action" type="submit" value="Buy" />
                                </form>
                            }
                        }
                        else
                        {
                            if (isCarBoughtByUser && !isUserSeller)
                            {
                                <form asp-controller="Car" asp-action="Sell"
                          asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-primary btn-action" type="submit" value="Sell" />
                                </form>
                            }
                        }
                    }
                </div>
            </div>

            <div class="mt-4 seller-info">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Seller Information</h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Seller Name:</strong> @Model.Seller.FullName</li>
                            <li class="list-group-item"><strong>Email:</strong> @Model.Seller.Email</li>
                            <li class="list-group-item"><strong>Address:</strong> @Model.Seller.Address</li>
                            <li class="list-group-item"><strong>Phone Number:</strong> @Model.Seller.Number</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
